@import '../../Style/variables.scss';
@import '../../Style/animations.scss';
@import "../../Style/mixins.scss";

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 20px 0;

    & ul,
    a {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        // margin: auto;
        padding: 0;
    }

    & .home__link {
        &__contact {
            border: 1px solid $primary-color;
        }

        &__benefits {

            &__elements {
                display: none;
                margin: 0;
                padding: 1em 0 0 0;
            }

            &__list {
                margin: 1em 0 1em 0;

                &:hover .home__link__benefits__element {
                    &s {
                        display: block;

                        li {
                            margin: 5px 0;
                        }
                    }

                    // &1 {
                    //     animation: show 300ms ease-out 0ms both;
                    // }

                    // &2 {
                    //     animation: show 300ms ease-out 100ms both;
                    // }

                    // &3 {
                    //     animation: show 300ms ease-out 200ms both;
                    // }
                }
            }

            &__title {
                margin: 0;
            }
        }
    }
}