@import '../../Style/variables.scss';
@import '../../Style/animations.scss';
@import '../../Style/mixins.scss';

nav {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 10px;
    top: 72px;

    // .hover__anim:hover {
    //     // overflow: hidden;
    //     // position: relative;
    //     // display: inline;
    //     // @include hoverAnimElement;

    //     // &::before {
    //     //     @include hoverAnimBefore;
    //     // }

    //     // &::after {
    //     //     @include hoverAnimAfter;
    //     // }

    // }

    .bars-icon {
        display: none;
    }

    .navbar__list {
        display: flex;
        margin: 0;
        padding: 0;
    }

    span {
        background-color: $backgroundColor-light;
    }

    p {
        cursor: pointer;
        margin: 0;
        display: inline;
    }

    .navbar__link {
        padding: 0 0.5em;
        margin: 0 0.5em;

        &.dropdown-elements {
            display: none;
            padding-bottom: 10px;
        }

        &.services-title {
            border: none;
            cursor: pointer;
            line-height: 1.15 !important;

            @media screen and (max-width: 426px) {
                margin: 0 !important;
                // margin: 0 0.5em;
            }
        }

        &.services-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            padding: 0;

            @media screen and (max-width: 426px) {
                align-items: start;
            }

            &:hover {
                margin: 0 0 0 8px;

                & .dropdown-element {
                    &s {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 5px;
                        padding: 0;

                        @media screen and (max-width: 426px) {
                            margin: 0 0.5em;
                            align-items: start;
                        }
                    }

                    &1 {
                        // margin: 0;
                        // animation: show 300ms ease-out 50ms both;
                        margin-left: 10px;
                        // display: inline;
                        background-color: white;
                    }

                    &2 {
                        // margin: 0;
                        // animation: show 300ms ease-out 150ms both;
                        margin-left: 10px;
                    }

                    &3 {
                        // margin: 0;
                        // animation: show 300ms ease-out 250ms both;
                        margin-left: 10px;
                    }
                }

            }
        }
    }

    @media screen and (max-width: 426px) {
        top: 20px;
        right: 10px;

        .bars-icon {
            display: block;
            position: absolute;
            right: 10px;
        }

        .navbar__link {
            padding: 0;
            background-color: white !important;
        }

        .navbar__list {
            display: none;
            background-color: white;
            border: 2px solid $secondary-color;
            padding: 5px;
        }

        &:hover {
            display: flex;
            flex-direction: column;

            .bars-icon {
                display: none;
            }

            & .navbar__list {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
    }
}