@import './Style/animations.scss';
@import './Style/variables.scss';
@import './Style/mixins.scss';


* {
  list-style: none;
  max-width: 100vw;
}

body {
  margin: auto !important;
  max-width: 100vw;
  overflow: hidden visible;
  scroll-behavior: smooth;
}

[data-theme="light"] {
  @include lightTheme;

  a,
  h1,
  h2,
  h3 {
    color: $default-color-light;
  }
}

[data-theme="dark"] {
  @include darkTheme;

  a,
  h1,
  h2,
  h3 {
    color: $default-color-dark;
  }
}

main {
  margin: 0 10px 100px 10px;
}

h2 {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

.hover__anim:hover {
  @include hoverAnimElement;

  &::before {
    @include hoverAnimBefore;
  }

  &::after {
    @include hoverAnimAfter;
  }
}

.link-style {
  @include link;
}