@import "../../Style/variables.scss";

footer {
    position: fixed;
    bottom: 0;
    border-top: 2px solid $secondary-color;
    display: flex;
    justify-content: space-around;
    padding: 0.8em 0;
    width: 100%;
    background-color: white;

    &>* {
        // flex: 1 1 33vw;
        // border: 1px solid black;
        margin: 0;
        display: flex;
        flex-direction: column;
        // align-items: center;
    }

    &:nth-child(2) {
        align-items: center;
    }

    // &>div {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    // }

    & .coddingnes__link {
        justify-content: center;
    }

    @media screen and (max-width: 426px) {
        flex-wrap: wrap;
        font-size: 0.8em;

        .legal__data {
            display: flex;
        }
    }

    // & .footer__rightpart {
    //     width: 45%;
    //     display: flex;
    //     justify-content: space-between;

    //     @media screen and (max-width: 426px) {
    //         flex-direction: column;
    //         font-size: 0.8em;
    //     }
    // }

    & ul {
        padding: 0;

        & li:first-of-type {
            font-weight: bold;
        }
    }

    & .social__links {
        // display: flex;
        // justify-content: space-around;
        // translate: -0.3em 0;

        & a {
            padding: 0.3em;
            font-size: 2em;
        }

        @media screen and (max-width: 426px) {
            display: block;
            margin: 0.3em 0;

            & a {
                font-size: 1.5em;
            }
        }
    }

    & p {
        margin: 0;
    }
}