$portraitRatio: calc(3/4);
$landscapeRatio: calc(4/3);

.banner {
    background-color: rgba(128, 128, 128, 0.479);
    display: grid;
    width: 80vw;
    padding: 5vh 0;
    overflow: hidden;
}

.banner>img {
    justify-self: center !important;
    grid-area: 1/1;
    width: 23%;
    aspect-ratio: $landscapeRatio;
    object-fit: cover;
    border: 1vw solid #f2f2f2;
    box-shadow: 0 0 4px #0007;

    &.portrait {
        aspect-ratio: $portraitRatio;
        width: 18%;
    }
}

@keyframes slide {

    0% {
        transform: translateX(0%) rotate(var(--r));
        z-index: var(--z);

    }

    49% {
        z-index: var(--z);

    }

    50% {
        transform: translateX(25vw) rotate(var(--r));
        z-index: var(--z2);
    }


    90% {
        transform: translateX(0%) rotate(var(--r));
        z-index: var(--z2);
    }

    100% {
        transform: translateX(0%) rotate(var(--r));
        z-index: var(--z2);
    }
}